

conda==4.13.0
conda-build==3.21.9
google==3.0.0
google-api-core==2.8.0
google-api-python-client==2.48.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.5.1


jupyter-server==1.17.0
jupyterlab-server==2.14.0


oauthlib==3.2.0







uritemplate==4.1.1
urllib3==1.26.9
voila==0.3.5

